@charset "UTF-8";

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf')format('truetype');
}

/*root*/
:root{
    --cor-default: #232220;

    --font-destaque: 'Bebas Neue';
    --font-default: Arial, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
} /* agora falta alinhar as coisas*/

p{
    font-family: var(--font-default);
    line-height: 25px;
}

/*Header*/
header{
    background-color: #EEEEEE;
    min-width: 300px;
    margin: auto;
    margin-bottom: 0px;
    text-align: center;
}


header > img {
    width: 300px;
}


/* nav */
nav#nav {
    margin-top: 0px;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    margin: auto;
}

nav#nav > a {
    font-family: var(--font-destaque);
    letter-spacing: 1px;
    text-decoration: none;
    padding: 8px;
    margin-right: 5px;
    color: black;
}

nav#nav > a:hover {
    transition-duration: 0.5s;
    background-color: #EEEEEE;
    color: rgb(204, 14, 14);
}


div#banner{
    margin-bottom: 10px;
}


div#banner > picture > img{
    max-width: 100%;
}


#handguns > h3{
    text-align: center;
    max-width: 350px;
    font-family: var(--font-destaque);
    font-size: 1.8em;
    letter-spacing: 2px;
}

#assault-rifles > h3{
    text-align: center;
    max-width: 350px;
    font-family: var(--font-destaque);
    font-size: 1.8em;
    letter-spacing: 2px;
}

#shotguns > h3{
    text-align: center;
    max-width: 350px;
    font-family: var(--font-destaque);
    font-size: 1.8em;
    letter-spacing: 2px;
}


#ammunitions > h3 {
    text-align: center;
    max-width: 350px;
    font-family: var(--font-destaque);
    font-size: 1.8em;
    letter-spacing: 2px;
} 


#optics > h3{
    text-align: center;
    max-width: 350px;
    font-family: var(--font-destaque);
    font-size: 1.8em;
    letter-spacing: 2px;
}

#acessories > h3 {
    text-align: center;
    max-width: 350px;
    font-family: var(--font-destaque);
    font-size: 1.8em;
    letter-spacing: 2px;
}

.opcoes{
    border: 3px solid black;
    max-width: 350px;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: #232220;
    color: white;
}

.opcoes >  a > img{
    max-width: 100%;
    display: block;
    height: 200px;
    border-top: 2px solid black;
}

main{
    max-width: 1200px;
    min-width: 300px;
    margin: auto;
    padding-bottom: 20px;
}

#classes-produtos{
    max-width: 98%;
    margin: auto;
    min-width: 20%;
    text-align: center;
}

hr{  
    max-width: 1200px;
}

main > #sobre > h2 {
    font-family: var(--font-destaque);
    font-size: 1.8em;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center
}

main > #sobre {
    padding: 20px 0px;
    text-align: justify;
}

main > #sobre p {
    margin-bottom: 20px;
    padding: 10px;
}

main > #sobre > aside > p {
    text-align: center;
}

main > #formulario{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

main > #formulario > h2{
    font-family: var(--font-destaque);
    letter-spacing: 2px;
    margin-bottom: 20px;
}

main > #formulario > form > input {
    padding: 10px;
    max-width: 230px;
    border: 1px solid black;
    font-size: 1em;
    background-color: #d8d2d2;
}

main > #formulario > form > #button {
    padding: 10px;
    max-width: 150px;
    background-color: #D02000;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    border: 1px solid black;
}

main > #formulario > form > #button:hover {
    background-color: black;
}

main > #contatos {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

main > #contatos > ul > li > h3 {
    margin-bottom: 20px;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

main > #contatos > ul > li {
    margin-bottom: 20px;
}

.links {
    text-decoration: none;
    color: #73dcec;
    font-family: Arial, Helvetica, sans-serif;
}

.links > a {
    text-decoration: none;
    color: #73dcec;
    font-family: Arial, Helvetica, sans-serif;
}

.links:hover {
    color: rgb(85, 7, 7);
    transition-duration: 0.4s;
}

.links > a:hover {
    color: rgb(85, 7, 7);
    transition-duration: 0.4s;
}

.links > a#fb > img:hover {
    background-color: #4267B2;
    border-radius: 20px;
}

.links > a#tt > img:hover {
    background-color: #36B9FF;
    border-radius: 20px;
}

.links > a#insta > img:hover {
    background-image: linear-gradient(to top, #C7539A,#518EC9,#EDA822,#D62555,#E54723,#4950A2);
    border-radius: 20px;
}

.links > a#yt > img:hover {
    background-color: rgb(250, 85, 85);
    border-radius: 20px;
}

footer{
    margin-bottom: 30px;
    font-size: 15px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}


