body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}

.ad-container {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f2f2f2;
   padding: 20px;
}

.ad-image {
   width: 300px;
   height: auto;
   margin-right: 20px;
}

.ad-info {
   text-align: center;
}

.ad-info h2 {
   color: #333;
   margin-bottom: 10px;
}

.ad-info p {
   color: #777;
   margin-bottom: 20px;
}

.btn {
   display: inline-block;
   background-color: #4CAF50;
   color: #fff;
   padding: 10px 20px;
   border-radius: 5px;
   text-decoration: none;
   transition: background-color 0.3s ease;
}

.btn:hover {
   background-color: #45a049;
}

/* Estilos adicionais para a seção de produtos podem ser incluídos aqui */

#produtos {
   padding: 20px;
}

#produtos h3 {
   color: #333;
   margin-bottom: 10px;
}