
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}

/* Barra de Pesquisa */
.search-bar {
  background-color: #222222;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 8px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
}

/* Carrinho de Compras */
.cart {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.item-count {
  background-color: #4CAF50;
  color: #222222;
  padding: 3px 8px;
  border-radius: 50%;
}

/* Avaliações e Comentários */
.reviews {
  margin-top: 20px;
  padding: 20px;
  background-color: #1d1d1d;
}

.reviews h3 {
  margin-top: 0;
}

.reviews li {
  list-style: none;
  margin-bottom: 10px;
}

.reviews strong {
  font-weight: bold;
}

/* Suporte */
.support {
  margin-top: 20px;
  padding: 20px;
  background-color: #242424;
}

.support h3 {
  margin-top: 0;
}

/* Formas de Pagamento */
.payment-methods {
  margin-top: 20px;
  padding: 20px;
  background-color: #1f1f1f;
}

.payment-methods h3 {
  margin-top: 0;
}

.payment-methods img {
  width: 50px;
  height: 30px;
  margin-right: 10px;
}

body {
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

section {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

section img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}

section h2 {
  margin: 0;
}

section p {
  color: #ccc;
}

.price {
  display: block;
  color: #4CAF50;
  font-size: 20px;
  margin-top: 10px;
}

footer {
  background-color: #333;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

#blusao     { 
  width: 90%;
}
.container{
width: 10%;
margin: 0 auto;
}