body.white {
    background-color: white;
    color: black;
   }
   
   h1, h2, li a {
    color: black;
   }
   
   nav ul {
    list-style-type: none;
    padding: 0;
   }
   
   nav li {
    display: inline;
    margin-right: 10px;
   }
   
   .product {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
   }